.home {
    background: linear-gradient(to bottom, #87ceeb, #4682b4, #1e3a5d);
}
  
.blog{
    background: linear-gradient(to bottom, #2e1a47, #510886, #ffffff);
}

.glass{
    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.0px);
    -webkit-backdrop-filter: blur(3.0px);
    border: 1px solid rgba(255, 255, 255, 0.56);
}